{% extends "base.html" %}

{% block content %}

<h3 style="margin: 10px; padding: 10px;"> choose from below list what you want to do </h3>
<div class="container" style="margin: 10px; padding: 10px;">

<a href="{% url "showallguest" %}"><button type="button" class="btn btn-primary">Show all Guest</button> </a>
<a href="{% url "addaguest" %}"><button type="button" class="btn btn-primary">Add a guest</button> </a>
<a href="{% url "delete_guest" %}"><button type="button" class="btn btn-primary">Delete a guest</button> </a>
<a href="{% url "filterguest" %}"><button type="button" class="btn btn-primary">Filter a guest</button> </a>
</div>

{% endblock content %}